<div id="<%= dom_id task %>">
  <p>
    <strong>Topic:</strong>
    <%= task.Topic %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.Description %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= task.StartDate %>
  </p>

  <p>
    <strong>Expiredate:</strong>
    <%= task.ExpireDate %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= task.Type %>
    — <strong> <%=@task_types[task] %></strong>
</p>

  <p>
    <strong>Priority:</strong>
    <%= task.Priority %>
    — <strong> <%=@task_priority[1] %></strong>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= task.Comments %>
  </p>

  <p>
    <strong>Executoruid:</strong>
    <%= task.ExecutorUID %>
    <% User.all.each do |u|%>
    <% if task.ExecutorUID==u.id%>
    — <strong> <%= link_to u.email,"/users/"+u.id.to_s %></strong>
    <%end%>
    <%end%>
  </p>
  </p>

  <p>
    <strong>Authoruid:</strong>
    <%= task.AuthorUID %>
    <% User.all.each do |u|%>
    <% if task.AuthorUID==u.id%>
    — <strong> <%= link_to u.email,"/users/"+u.id.to_s %></strong>
    <%end%>
    <%end%>
  </p>

  <p>
    <strong>Projectid:</strong>
    <%= task.ProjectID %>
    <% Project.all.each do |p|%>
    <% if task.ProjectID==p.id%>
    — <strong> <%= link_to p.Name,"/projects/"+p.id.to_s %></strong>
    <%end%>
    <%end%>

  </p>

</div>
