<div id="<%= dom_id task %>">
  <p>
    <strong>Topic:</strong>
    <%= task.Topic %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.Description %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= task.StartDate %>
  </p>

  <p>
    <strong>Expiredate:</strong>
    <%= task.ExpireDate %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= task.Type %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.Priority %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= task.Comments %>
  </p>

  <p>
    <strong>Executoruid:</strong>
    <%= task.ExecutorUID %>
  </p>

  <p>
    <strong>Authoruid:</strong>
    <%= task.AuthorUID %>
  </p>

  <p>
    <strong>Projectid:</strong>
    <%= task.ProjectID %>
  </p>

</div>
