<p style="color: green"><%= notice %></p>
<!--<%= render @task %>-->
<div class="jumbotron">
  <h1 class="display-4">[ID-<%=@task.id%>] <%=@task.Topic%></h1>
  <p class="lead"><%=@task.Description%></p>
  <hr class="my-4">
  <p>[<%=@task.StartDate%> - <%=@task.ExpireDate%>]</p>
  <p>Type-<%=@task.Type%>, Priority-<%=@task.Priority%></p>
  <p>ExecutorUID-<%=@task.ExecutorUID%>, AuthorUID-<%=@task.AuthorUID%>, ProjectID-<%=@task.ProjectID%></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div style="display:flex;flex-direction: row;">
  <%= link_to "Edit this task", edit_task_path(@task), class:"btn btn-warning" %>
  <%= button_to "Destroy this task", @task, method: :delete, class:"btn btn-danger" %>
  
</div>
<br/>
  <%= button_to "Back to tasks", tasks_path, class:"btn btn-info" %>

  <% if Log.all.length > 0 %>
   <table style="height: 500px;width: 500px; margin: 25px;" class="table" title="Logs on Task-id">
   <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">DateRecieved</th>
      <th scope="col">DateFinished</th>
      <th scope="col">Comment</th>
      <th scope="col">TaskID</th>
      <th scope="col"/>
      <th scope="col"/>
    </tr>
  </thead>
  <tbody>
  <% Log.all.each do |l|%>
  <% if l.TaskID == @task.id%>
  <tr>
    <th scope="row">
      <%= l.id %>
    </td>
    <td>
      <%= l.DateRecieved %>
    </td>
    <td>
        <%= l.DateFinished %>
    </td>
    <td>
      <%= l.Comment %>
    </td>
    <td>       
      <% if l.TaskID == @task.id%>
       <%= l.TaskID %> (<%=@task.Topic%>)
     <%end%>
    </td>
    <td>
      <%= link_to "GO","/logs/"+l.id.to_s,class:"btn btn-info" %>
    </td>
  </tr>
  <%end%>
  <%end%>
  <%end%>
  </tbody>
</table>