<!--<div id="<%= dom_id project %>">-->
  <tr style="border: grey 3px solid; border-bottom: none; border-right: none;border-left: none;">
    <td>
    <%= project.Name %>
  </td>

  <td>
    <%= project.Description %>
  </td>

  <td>
    <%= project.ViewCode %>
  </td>

  <td>
    <%= link_to "Show this project", project, class:"btn btn-secondary" %>
  </td>

  <td>
    <%= link_to "Show by key", "/projects/#{project.ViewCode}", class:"btn btn-secondary" %>
  </td>
  </tr>
<!--</div>-->