<!--<div id="<%= dom_id project %>">-->
  <tr style="border: grey 3px solid; border-bottom: none; border-right: none;border-left: none;">
  <td style="border-right: grey 3px solid;">
    <strong>
      <%= project.id %>
    </strong>
  </td>

  <td style="border-right: grey 3px solid;">
    <%= project.Name %>
  </td>

  <td style="border-right: grey 3px solid;">
    <%= project.Description %>
  </td>

  <td style="border-right: grey 3px solid;">
    <%= project.ViewCode %>
  </td>

  <td style="border-right: grey 3px solid;">
    <%= link_to "Show this project", project, class:"btn btn-secondary" %>
  </td>

  <td style="border-right: grey 3px solid;">
    <%= link_to "Show by key", "/projects/#{project.ViewCode}", class:"btn btn-secondary" %>
  </td>
  </tr>
<!--</div>-->