<div class="jumbotron">
  <h1 class="display-4">[ID-<%=@project.id%>] <%=@project.Name%></h1>
  <p class="lead"><%=@project.Description%></p>
  <hr class="my-4">
  <p><%=@project.ViewCode%></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div>
  <%= link_to "Edit this project", edit_project_path(@project), class:"btn btn-warning" %>
  <%= link_to "Destroy this project", @project, method: :delete, class:"btn btn-danger" %>
</div>
<br/>
  <!--<%= button_to "Back to projects", projects_path, class:"btn btn-info" %>-->
  <%= link_to 'Back to projects', projects_path, class:"btn btn-info" %>