<%= form_with(model: log) do |form| %>
  <% if log.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :DateRecieved, style: "display: block" %>
    <%= form.date_field :DateRecieved, class:"form-control" %>
  </div>

  <div>
    <%= form.label :DateFinished, style: "display: block" %>
    <%= form.date_field :DateFinished, class:"form-control" %>
  </div>

  <div>
    <%= form.label :Comment, style: "display: block" %>
    <%= form.text_field :Comment, class:"form-control" %>
  </div>

  <div>
    <%= form.label :TaskID, style: "display: block" %>
    <%= form.select(:TaskID, options_for_select(Task.all.map(&:id))) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
