<div id="<%= dom_id log %>">
  <p>
    <strong>Daterecieved:</strong>
    <%= log.DateRecieved %>
  </p>

  <p>
    <strong>Datefinished:</strong>
    <%= log.DateFinished %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= log.Comment %>
  </p>

  <p>
    <strong>Taskid:</strong>
    <%= log.TaskID %>

    <% Task.all.each do |t|%>
    <% if log.TaskID==t.id%>
    — <strong> <%= link_to t.Topic,"/tasks/"+t.id.to_s %></strong>
    <%end%>
    <%end%>
  </p>
  </p>

</div>
