<div id="<%= dom_id log %>">
  <p>
    <strong>Daterecieved:</strong>
    <%= log.DateRecieved %>
  </p>

  <p>
    <strong>Datefinished:</strong>
    <%= log.DateFinished %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= log.Comment %>
  </p>

  <p>
    <strong>Taskid:</strong>
    <%= log.TaskID %>
  </p>

</div>
