<p style="color: green"><%= notice %></p>
<!--<%= render @log %>-->
<div class="jumbotron">
  <h1 class="display-4">[ID-<%=@log.id%>] <%=@log.Comment%></h1>
  <p class="lead"><%=@log.DateRecieved%> - <%=@log.DateFinished%></p>
  <hr class="my-4">
  <p>TaskID-<%=@log.TaskID%></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div>
  <%= link_to "Edit this log", edit_log_path(@log), class:"btn btn-warning" %>
  <%= link_to "Destroy this log", @log, method: :delete, class:"btn btn-danger" %>
</div>
<br/>
<%= link_to "Back to logs", logs_path, class:"btn btn-info" %>