<div id="<%= dom_id member %>">
  <p>
    <strong>Firstname:</strong>
    <%= member.FirstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= member.LastName %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= member.BirthDate %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= member.Occupation %>
  </p>

  <p>
    <strong>Profileimage:</strong>
    <%= member.ProfileImage %>
  </p>

</div>
